@model PeyDej.Models.Bases.Machine

@{
    ViewData["Title"] = "جزییات ماشین";
}

<div class="row">
    <div class="col-8 offset-2">
        <h4>@ViewData["Title"]</h4>
        <hr/>
        <dl class="row">
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Department)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.SerialNumber)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.SerialNumber)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Country)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Company)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Company)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Process)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Process)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.PurchaseStatus)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.PurchaseStatus)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.UtilizationDate)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.UtilizationDate)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.CompanyAddress)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.CompanyAddress)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.AgencyAddress)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.AgencyAddress)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.EnergyType)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.EnergyType)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.EnergyConsumption)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.EnergyConsumption)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.OilType)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.OilType)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.OilConsumption)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.OilConsumption)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.OilReplacementPeriod)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.OilReplacementPeriod)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.GreaseType)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.GreaseType)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.OilLocation)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.OilLocation)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.GreaseConsumption)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.GreaseConsumption)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.GreaseReplacementPeriod)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.GreaseReplacementPeriod)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.GreaseLocation)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.GreaseLocation)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.GreaseCount)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.GreaseCount)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.InspectionCycle)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.InspectionCycle)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.LubricationCycle)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.LubricationCycle)
            </dd>
        </dl>

        <hr/>
        <a asp-action="Index" class="btn btn-danger">بازگشت به لیست</a>
    </div>
</div>