@using PeyDej.Models.Bases
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PeyDej.Models.Bases.Machine

@{
    ViewData["Title"] = "ویرایش ماشین";
}


<div class="row">
    <div class="col-6 offset-3">
        <h3 xmlns="http://www.w3.org/1999/html">@ViewData["Title"]</h3>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CreatorUserId" />
            <input type="hidden" asp-for="InsDate" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Model" class="control-label"></label>
                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Department" class="col-form-label"></label>
                        <select asp-for="Department" class="form-control">
                            <option value="" default="" selected="">انتخاب</option>
                            @foreach (var item in Model.DepartmentIds)
                            {
                                <option name="@item.Name" value="@item.Id">@item.Name</option>
                            }
                        </select>
                        <span asp-validation-for="Department" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="SerialNumber" class="control-label"></label>
                        <input asp-for="SerialNumber" class="form-control" />
                        <span asp-validation-for="SerialNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Company" class="control-label"></label>
                        <input asp-for="Company" class="form-control" />
                        <span asp-validation-for="Company" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Process" class="col-form-label"></label>
                        <select asp-for="Process" class="form-control">
                            <option value="" default="" selected="">انتخاب</option>
                            @foreach (var item in Model.ProcessIds)
                            {
                                <option name="@item.Name" value="@item.Id">@item.Name</option>
                            }
                        </select>
                        <span asp-validation-for="Process" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="PurchaseStatus" class="control-label"></label>
                        <input asp-for="PurchaseStatus" class="form-control" />
                        <span asp-validation-for="PurchaseStatus" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="UtilizationDateDto" class="control-label"></label>
                        <input asp-for="UtilizationDateDto" class="form-control" />
                        <span asp-validation-for="UtilizationDateDto" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="CompanyAddress" class="control-label"></label>
                        <input asp-for="CompanyAddress" class="form-control" />
                        <span asp-validation-for="CompanyAddress" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="AgencyAddress" class="control-label"></label>
                        <input asp-for="AgencyAddress" class="form-control" />
                        <span asp-validation-for="AgencyAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="EnergyType" class="control-label"></label>
                        <input asp-for="EnergyType" class="form-control" />
                        <span asp-validation-for="EnergyType" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="EnergyConsumption" class="control-label"></label>
                        <input asp-for="EnergyConsumption" class="form-control" />
                        <span asp-validation-for="EnergyConsumption" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="OilType" class="control-label"></label>
                        <input asp-for="OilType" class="form-control" />
                        <span asp-validation-for="OilType" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="OilConsumption" class="control-label"></label>
                        <input asp-for="OilConsumption" class="form-control" />
                        <span asp-validation-for="OilConsumption" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="OilReplacementPeriod" class="control-label"></label>
                        <input asp-for="OilReplacementPeriod" class="form-control" />
                        <span asp-validation-for="OilReplacementPeriod" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="GreaseType" class="control-label"></label>
                        <input asp-for="GreaseType" class="form-control" />
                        <span asp-validation-for="GreaseType" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="OilLocation" class="control-label"></label>
                        <input asp-for="OilLocation" class="form-control" />
                        <span asp-validation-for="OilLocation" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="GreaseConsumption" class="control-label"></label>
                        <input asp-for="GreaseConsumption" class="form-control" />
                        <span asp-validation-for="GreaseConsumption" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="GreaseReplacementPeriod" class="control-label"></label>
                        <input asp-for="GreaseReplacementPeriod" class="form-control" />
                        <span asp-validation-for="GreaseReplacementPeriod" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="GreaseLocation" class="control-label"></label>
                        <input asp-for="GreaseLocation" class="form-control" />
                        <span asp-validation-for="GreaseLocation" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="GreaseCount" class="control-label"></label>
                        <input asp-for="GreaseCount" class="form-control" />
                        <span asp-validation-for="GreaseCount" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="LubricationStartDateDto" class="control-label"></label>
                        <input disabled asp-for="LubricationStartDateDto" class="form-control" />
                        <span asp-validation-for="LubricationStartDateDto" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="LubricationCycle" class="control-label"></label>
                        <input disabled asp-for="LubricationCycle" class="form-control" />
                        <span asp-validation-for="LubricationCycle" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="InspectionStartDateDto" class="control-label"></label>
                        <input asp-for="InspectionStartDateDto" class="form-control" />
                        <span asp-validation-for="InspectionStartDateDto" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="InspectionCycle" class="control-label"></label>
                        <input asp-for="InspectionCycle" class="form-control" />
                        <span asp-validation-for="InspectionCycle" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="MachineInspectionTypeCategoryId" class="col-form-label"></label>
                        <select required asp-for="MachineInspectionTypeCategoryId" class="form-control">
                            <option value="" default="" selected="">انتخاب</option>
                            @for (var i = 0; i < Model.MachineCheckListCategoryList.Count(); i++)
                            {
                                var item = ((List<CategoryResutl>)Model.MachineCheckListCategoryList)[i];
                                <option name="@item.CategoryCaption" value="@item.CategoryId">@item.CategoryCaption</option>
                            }
                        </select>
                        <span asp-validation-for="MachineInspectionTypeCategoryId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <input type="submit" value="ذخیره" class="btn btn-primary" />
                        <a asp-action="Index" asp-controller="Machine" class="btn btn-danger">انصراف</a>
                    </div>
                </div>
                <div class="col-6">
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $('#UtilizationDateDto,#InspectionStartDateDto,#LubricationStartDateDto').datepicker({
            isRTL: true,
            dateFormat: "yy/mm/dd"
        });
    </script>
}