@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PeyDej.Models.Dtos
@model IEnumerable<PeyDej.Models.Dtos.InspectionDto>?
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions {

    private string? GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }

}

<div class="row">
    <div class="col-12">
        <h3>لیست موتورها</h3>
        <hr />
    </div>
</div>

@{
    var i = 0;
}
<div class="row">
    <div class="col-8 offset-2">

        <div class="row mb-5">
            <div class="col-12">
                <label>پرسنل:</label>
                <select id="person" asp-items="@ViewBag.person" class="form-select">

                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ردیف</th>
                            <th scope="col">نام موتور</th>
                            <th scope="col">وضعیت موتور</th>
                            <th scope="col">توضیحات</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model?.Any() ?? false)
                        {
                            @foreach (var m in Model)
                            {
                                <tr>
                                    <th scope="row">@(++i)</th>
                                    <th scope="row">@m.Name</th>
                                    <th scope="row">
                                        @if (m.Status == 1)
                                        {
                                            <label class="m-2"><input disabled="disabled" name="status@{@m.MachineId}"  checked="checked" value="1" type="radio" />&nbsp;تایید</label>
                                            <label class="m-2"><input disabled="disabled" name="status@{ @m.MachineId}" value="0" type="radio" />&nbsp;رد</label>
                                        }
                                        else
                                        {
                                            <label class="m-2"><input disabled="disabled" name="status@{@m.MachineId}" value="1" type="radio" />&nbsp;تایید</label>
                                            <label class="m-2"><input disabled="disabled" name="status@{@m.MachineId}" checked="checked"  value="0" type="radio" />&nbsp;رد</label>
                                        }
                                    </th>
                                    <th scope="row">
                                        <input id="desk@{@m.MachineId}" value="0" type="text" class="form-control" />
                                    </th>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $('#start_date,#end_date').datepicker({
                isRTL: true,
                dateFormat: "yy/mm/dd"
            });
        });

        function save () {
            var ids = [ @foreach (var itm in Model)
        {
            @(itm.MachineId + ",")
        }];
            var data = [];
            ids.forEach(function (value, i) {
                var radios = $("input:radio[name=status" + value + "]:checked");
                var desc = document.getElementById("desk" + value).value;
                console.log(desc)
                data.push({
                    Id: value,
                    Description: desc,
                    Status: radios.val() == 1,
                });
            });
            var person = $("#person").val();
            var token = "@GetAntiXsrfRequestToken()";
            $.post("@Url.Action("SaveMotorReport")", {
                data: data,
                person: person,
                __RequestVerificationToken: token
            },
                function (e) {
                    if (e.r) {
                        alert("فرآیند ثبت اطلاعات با موفقیت به پابان رسید.");
                        window.location.replace(window.origin + "/Inspection/Motor");
                    } else {
                        alert("در هنگام پردازش اطلاعات خطایی رخ داد. دوباره سعی کنید." + "\n" + e.m);
                        window.location.replace(window.origin + "/Inspection/Motor");
                    }
                }, "JSON");
        }

    </script>
}