@model IEnumerable<PeyDej.Models.Bases.Machine>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions {

    private string? GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }

}


@{
    var i = 0;
}

<div class="row">
    <div class="col-12">
        <h3>لیست ماشین ها</h3>
        <hr/>
    </div>
</div>


@* <div class="row"> *@
@*     <div class="col-6 offset-3"> *@
@* *@
@*         <div class="card"> *@
@*             <div class="card-header bg-primary text-white"> *@
@*                 <span>جستجو</span> *@
@*             </div> *@
@*             <div class="card-body text-center"> *@
@*                 <form asp-action="Machine" method="GET"> *@
@*                     <label class="text-left">از تاریخ: <input value="@ViewBag.startDate" readonly="readonly" id="start_date" name="start_date" class="form-control text-center" type="text"/></label> *@
@*                     <label class="text-left">تا تاریخ: <input value="@ViewBag.endDate" readonly="readonly" id="end_date" name="end_date" class="form-control text-center" type="text"/></label> *@
@*                     <input type="submit" value="جستجو" class="btn btn-primary"/> *@
@*                 </form> *@
@*             </div> *@
@*             <div class="card-footer"> *@
@*                 <!-- Card footer content goes here --> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* <br/> *@


<div class="row">
    <div class="col-12">
        <label>نام و نام حانوادگی پرسنل بررسی کننده: <select asp-items="ViewBag.person" id="person" class="form-select"></select></label>
        <input type="button" value="ذخیره" onclick="save()" class="btn btn-success"/>
    </div>
</div>
<form id="frm">
    <table class="table">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">ماشین</th>
                @foreach (var item in ViewBag.items)
                {
                    <th scope="col">@item.SubCategoryCaption</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>
                        <b>@m.Name</b>
                    </td>
                    @foreach (var item in ViewBag.items)
                    {
                        <td>
                            <label class="m-2"><input name="chk_@{ @m.Id }_@{ @item.SubCategoryId }" value="1" type="radio"/>&nbsp;&nbsp;تایید</label>
                            <label class="m-2"><input name="chk_@{ @m.Id }_@{ @item.SubCategoryId }" value="0" type="radio"/>&nbsp;&nbsp;رد</label>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </table>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
    $(function(){
        $('#start_date,#end_date').datepicker({
            isRTL: true,
            dateFormat: "yy/mm/dd"
        });
    });
    
    function save(){
        var finalData = [];
        var data=$("#frm").serializeArray();
        data.forEach(function(v){
            items = v.name.split("_");
            var desc = $("#des_"+items[1]).val();
            finalData.push({
                id: items[1],
                subId: items[2],
                value: v.value,
                desc: desc,
            });
        });
        
        console.log(finalData);
        
        var person=$("#person").val();
        var token="@GetAntiXsrfRequestToken()";
            $.post("@Url.Action("SaveMachineLubricationsReport")", {
                data: finalData, 
                person: person,
                __RequestVerificationToken: token 
            },
            function (e){
            if (e.r){
                        alert("فرآیند ثبت اطلاعات با موفقیت به پابان رسید.");
                        window.location.replace(window.origin + "/MachineLubrications/MachineLubricationsIS");
                location.reload();
            }else{
                        alert("در هنگام پردازش اطلاعات خطایی رخ داد. دوباره سعی کنید." + "\n" + e.m);
                        window.location.replace(window.origin + "/MachineLubrications/MachineLubricationsIS");
            }
        },"JSON");
    }
   
</script>
}