@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Collections
@using PeyDej.Models.Bases
@model PeyDej.Services.Pagination.PaginatedList<PeyDej.Models.Dtos.InspectionDto>
@{
    long machineCheckListCategoryId = 0;
}
<form asp-action="Machine" method="post">
    <div class="row">
        <div class="col-12">
            <h3>لیست ماشین آلات نیاز به بازرسی</h3>
            <hr />
            <p>
                <button type="submit" class="btn btn-primary" name="btnName" value="print" target="_blank">چاپ فرم</button>
                <button type="submit" class="btn btn-success" name="btnName" value="save" target="_blank">ثبت نتایج</button>
            </p>
            <hr />
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <span>جستجو</span>
                </div>
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col-3">
                            <partial name="Partials/_PageSize" model='("Inspection","Machine")' />
                        </div>
                        <div class="col-8">
                            <label class="text-left">از تاریخ: <input value="@ViewBag.startDate" readonly="readonly" id="start_date" name="start_date" class="form-control text-center" type="text" /></label>
                            <label class="text-left">تا تاریخ: <input value="@ViewBag.endDate" readonly="readonly" id="end_date" name="end_date" class="form-control text-center" type="text" /></label>
                            <div class="form-group d-inline-block">
                                <label id="machineCheckListCategoryId" value="@ViewBag.machineCheckListCategoryId" class="col-form-label"></label>
                                <select id="machineCheckListCategoryId" name="machineCheckListCategoryId" class="form-control">
                                    @for (int i = 0; i < ((List<CategoryResutl>)ViewData["MachineInspectionTypes"]).Count ; i++)
                                    {
                                        var item = ((List<CategoryResutl>)ViewData["MachineInspectionTypes"])[i];
                                        
                                         if (item.CategoryId == (int)ViewBag.machineCheckListCategoryId)
                                        {
                                            <option selected name="@item.CategoryCaption" value="@item.CategoryId">@item.CategoryCaption</option>
                                        }
                                        else if (i == 0)
                                        {
                                            <option selected name="@item.CategoryCaption" value="@item.CategoryId">@item.CategoryCaption</option>
                                        }
                                        else
                                        {
                                            <option name="@item.CategoryCaption" value="@item.CategoryId">@item.CategoryCaption</option>
                                        }
                                    }
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary" name="btnName" value="search" target="_blank">جستجو</button>

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <table id="datatables-column-search-text-inputs" class="table table-striped table-bordered text-center" style="width: 100%">
                        <thead>
                            <tr>
                                <th>
                                    <input class="form-check-input" type="checkbox" name="SelectedFruits" id="CheckAll">
                                    <label class="form-check-label">
                                        انتخاب
                                    </label>
                                </th>
                                <th>نام ماشین</th>
                                <th>مدل ماشین</th>
                            </tr>
                            @*
                            <tr>
                            <th class="search">انتخاب</th>
                            <th class="search">نام ماشین</th>
                            <th class="search">مدل ماشین</th>
                            </tr>
                            *@
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <input class="form-check-input" type="checkbox" name="SelectedFruits" value="@item.MachineId" id="Check_@item.MachineId">
                                        <label class="form-check-label" for="Check_@item.MachineId">
                                            @item.Name
                                        </label>
                                    </td>
                                    <td>@item.Name</td>
                                    <td>@item.Model</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <partial name="Partials/_Pagination" model='(Model.HasPreviousPage,Model.HasNextPage,Model.PageIndex,Model.TotalPages,"Inspection","Machine")' />
                </div>

            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/datatables.js"></script>
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            // Datatables Responsive
            $("#datatables-column-search-text-inputs").DataTable({
                responsive: true,
                paginate: false,
                previous: false,
                next: false,
                info: false,
                filter: true
            });
        });

        document.getElementById("CheckAll").addEventListener("change", function () {
            document.querySelectorAll("[id^='Check_'").forEach(checkbox => checkbox.checked = this.checked);
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#start_date,#end_date').datepicker({
                isRTL: true,
                dateFormat: "yy/mm/dd",
            });
        });

    </script>
}