@using PeyDej.Data
@model PeyDej.Models.Report.DailyDryProductIR
@inject PeyDejContext _Context
@{
    ViewData["Title"] = "گزارش چک لیست خط خشک";
}

<h1>خط خیس</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnvironmentTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnvironmentTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DryerTemperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DryerTemperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BladeDimensionX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BladeDimensionX)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BladeDimensionY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BladeDimensionY)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LipTwitchingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LipTwitchingStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftOperatorPersonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => _Context.Persons.Where(w => w.Id == model.ShiftOperatorPersonId).FirstOrDefault().FullName)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MorningShiftOperatorPersonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => _Context.Persons.Where(w => w.Id == model.MorningShiftOperatorPersonId).FirstOrDefault().FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NightShiftOperatorPersonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => _Context.Persons.Where(w => w.Id == model.NightShiftOperatorPersonId).FirstOrDefault().FullName)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemplateKindId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => _Context.SubCategories.Where(w => w.CategoryId == model.TemplateKindId).FirstOrDefault().Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternalCrackStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternalCrackStatus)
        </dd>
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemplateExternalCrackStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemplateExternalCrackStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DryerExternalCrackStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DryerExternalCrackStatus)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelfNumberStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelfNumberStart)
        </dd>
     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelfNumberEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelfNumberEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WetPalletCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WetPalletCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WetShelfRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WetShelfRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WetChannelNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WetChannelNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-danger">بازگشت به لیست</a>
</div>
