@using PeyDej.Tools
@using PeyDej.Models.Bases.Views
@using PeyDej.Data
@inject PeyDejContext _Context;
@model IEnumerable<PeyDej.Models.Bases.SparePart>
@{
    ViewData["Title"] = "لیست قطعه ها";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {

    private string? GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="row">
    <div class="col-12 offset-0">
        <h3>@ViewData["Title"]</h3>
        <hr />
        <p>
            <a class="btn btn-primary" asp-action="Create">معرفی قطعه جدید</a>
        </p>
        <hr />
        <style>
            .gCol {
                text-align: center;
            }
        </style>
        


        @(Html
            .Grid(Model)
            .Build(columns =>
            {
                @*columns.Add(model => model.Count).Titled(@Html.DisplayNameFor(model => model.Count));*@
                columns.Add(model => model.Name).Titled(@Html.DisplayNameFor(model => model.Name));
                columns.Add(model => model.Model).Titled(@Html.DisplayNameFor(model => model.Model));
               
                columns.Add().Titled("ویرایش").Encoded(false).RenderedAs(model => PeyDejHelper.ActionLink("<i class=\"icon-edit\"></i>", "Edit", "SparePart", model.Id, "orange-text", "ویرایش"));
                columns.Add().Titled("جزییات").Encoded(false).RenderedAs(model => PeyDejHelper.ActionLink("<i class=\"icon-info-sign\"></i>", "Details", "SparePart", model.Id, "green-text", "جزییات"));
                columns.Add().Titled("حذف").Encoded(false).RenderedAs(model => PeyDejHelper.ActiveLinkAjax($"javascript:DeleteItem('{model.Id}');", "<i class=\"icon-trash\"></i>", "red-text", "حذف"));
            })
            .Empty("هیچ ایتمی وجود ندارد")
            .Sortable()
            .Filterable()
            .Using(GridFilterMode.Row)
            .Pageable(pager =>
            {
                pager.PageSizes = new Dictionary<Int32, String> { { 10, "10" }, { 20, "20" }, { 50, "50" }, { 0, "همه" } };
                pager.ShowPageSizes = true;
                pager.PagesToDisplay = 5;
                pager.CurrentPage = 1;
                pager.RowsPerPage = 20;
            })
            .Css("table table-bordered")
            )
    </div>
</div>


<script type="text/javascript">
    function DeleteItem(id){
        if (confirm("برای حذف این آیتم مطمئن هستید؟")){
            var token="@GetAntiXsrfRequestToken()";
            $.post("@Url.Action("Delete")",{id:id , __RequestVerificationToken:token},
                function (data){
                    if (data.hasError == true){
                        alert(data.error);
                    }else {
                        location.reload();
                    }
                },"JSON");
            }
        }
</script>