@model PeyDej.Models.Bases.Motor

@{
    ViewData["Title"] = "جزییات موتور";
}

<div class="row">
    <div class="col-8 offset-2">
        <h4>@ViewData["Title"]</h4>
        <hr/>
        <dl class="row">
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.SerialNumber)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.SerialNumber)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Manufacturer)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Manufacturer)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Emplacement)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Emplacement)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Kw)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Kw)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.V)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.V)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.BeltSerial)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.BeltSerial)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.BeltCount)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.BeltCount)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Fooli)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Fooli)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.ChainSerial)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.ChainSerial)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Gear)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Gear)
            </dd>
            @* <dt class="col-3"> *@
            @*     @Html.DisplayNameFor(model => model.MachineId) *@
            @* </dt> *@
            @* <dd class="col-9"> *@
            @*     @Html.DisplayFor(model => model.MachineId) *@
            @* </dd> *@
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.InspectionCycle)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.InspectionCycle)
            </dd>
            <dt class="col-3">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-9">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
        <hr/>
        <a asp-action="Index" class="btn btn-danger">بازگشت به لیست</a>
    </div>
</div>