@using PeyDej.Service
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PeyDej.Models.Report.DailyWetProductIR

@{
    ViewData["Title"] = "ویرایش خط خیس ";
}
<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h3 xmlns="http://www.w3.org/1999/html">@ViewData["Title"]</h3>
            </div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="DateDto" class="control-label"></label>
                                <input asp-for="DateDto" class="form-control" />
                                <span asp-validation-for="DateDto" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="TemplateNumber" class="control-label"></label>
                                <input asp-for="TemplateNumber" class="form-control" />
                                <span asp-validation-for="TemplateNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="TemperatureAndHumidityStatus" class="control-label"></label>
                                <input asp-for="TemperatureAndHumidityStatus" class="form-control" />
                                <span asp-validation-for="TemperatureAndHumidityStatus" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">

                            <div class="form-group">
                                <label asp-for="BladeDimensionX" class="control-label"></label>
                                <input asp-for="BladeDimensionX" class="form-control" />
                                <span asp-validation-for="BladeDimensionX" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BladeDimensionY" class="control-label"></label>
                                <input asp-for="BladeDimensionY" class="form-control" />
                                <span asp-validation-for="BladeDimensionY" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="NightShiftOperatorPersonId" class="col-form-label"></label>
                                <select asp-for="NightShiftOperatorPersonId" asp-items="@SystemExtenstion.Select(Model.ShiftOperatorPerson,"Id","FullName")" class="form-control"></select>
                                <span asp-validation-for="NightShiftOperatorPersonId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="MorningShiftOperatorPersonId" class="col-form-label"></label>
                                <select asp-for="MorningShiftOperatorPersonId" asp-items="@SystemExtenstion.Select(Model.ShiftOperatorPerson,"Id","FullName")" class="form-control"></select>
                                <span asp-validation-for="MorningShiftOperatorPersonId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="BladeWeight" class="control-label"></label>
                                <input asp-for="BladeWeight" class="form-control" />
                                <span asp-validation-for="BladeWeight" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="SoilTypeId" class="col-form-label"></label>
                                <select asp-for="SoilTypeId" asp-items="@SystemExtenstion.Select(Model.SoilTypeList,"Id","Value")" class="form-control"></select>
                                <span asp-validation-for="SoilTypeId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="SoilSpeed" class="control-label"></label>
                                <input asp-for="SoilSpeed" class="form-control" />
                                <span asp-validation-for="SoilSpeed" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="VaciumDegree" class="control-label"></label>
                                <input asp-for="VaciumDegree" class="form-control" />
                                <span asp-validation-for="VaciumDegree" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="BandStatus" class="control-label"></label>
                                <input asp-for="BandStatus" class="form-control" />
                                <span asp-validation-for="BandStatus" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="SoilCompoundRatio" class="control-label"></label>
                                <input asp-for="SoilCompoundRatio" class="form-control" />
                                <span asp-validation-for="SoilCompoundRatio" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="DaneBandiGarkId" class="col-form-label"></label>
                                <select asp-for="DaneBandiGarkId" asp-items="@SystemExtenstion.Select(Model.DaneBandiGarkList,"Id","Value")" class="form-control"></select>
                                <span asp-validation-for="DaneBandiGarkId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label asp-for="TemplateKindId" class="col-form-label"></label>
                                    <select asp-for="TemplateKindId" asp-items="@SystemExtenstion.Select(Model.TemplateKindList,"Id","Value")" class="form-control"></select>
                                    <span asp-validation-for="TemplateKindId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ShelfNumberStart" class="control-label"></label>
                                <input asp-for="ShelfNumberStart" class="form-control" />
                                <span asp-validation-for="ShelfNumberStart" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ShelfNumberEnd" class="control-label"></label>
                                <input asp-for="ShelfNumberEnd" class="form-control" />
                                <span asp-validation-for="ShelfNumberEnd" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="ذخیره" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-danger">بازگشت</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $('#DateDto,#StartRepairDateDto').datepicker({
                isRTL: true,

                dateFormat: "yy/mm/dd"
            });
        });

    </script>
}
